.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Ajout d'une légère animation au survol */
}

.card-img {
  border-bottom: 2px solid #f1faee;
  object-fit: cover;
}

.card-body {
  background-color: #ffffff;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1d3557;
}

.card-text {
  font-size: 0.9rem;
  color: #457b9d;
}

.btn {
  background-color: #1d3557;
  border-color: #1d3557;
}

.btn:hover {
  background-color: #457b9d;
  border-color: #457b9d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card,
.container,
.navbar {
  animation: fadeIn 0.8s ease-in-out;
}

.card {
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 30px;
  color: #1d3557;
}

.btn {
  margin-top: 10px;
}

.btn {
  border-radius: 20px;
  font-weight: 600;
}

.btn:hover {
  background-color: #457b9d;
  border-color: #457b9d;
  transition: all 0.3s;
}
